// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #ffffff;
$color-black: #000;

$color-gray-dark: #777;
$color-gray-dark-lighter: #999;
$color-gray-dark-darker: #555;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-secondary-orange-light: #ffb900;
$color-secondary-orange-dark: #ff7730;

$color-secondary-blue-light: #3498db;
$color-secondary-blue-dark: #2980b9;

//Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT - SIZES

$default-font-size: 1.6rem;

//Borders and boxes
$border-radious-default: 3px;

